{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Home' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.2.5/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
	<script src="https://cdn.jsdelivr.net/npm/swiper@11.2.5/swiper-bundle.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Initialisation de Swiper
			const mySwiper = new Swiper(".mySwiper", { 
				slidesPerView: 1, 
				loop: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev"
				},
				autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            	}
			});
		});
	</script>
{% endblock %}

{% block main %}
	<!-- Slider principal -->
	<section class="slider-container swiper mySwiper">
		<div class="wrapper swiper-wrapper">
			<div class="slide swiper-slide">
				<img src="{{ asset('images/baby-feet.jpg') }}" alt="photo de pieds de bébé entourés de mains d'adulte" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Renaître à soi-même, révélez votre potentiel</span>
					<h2 class="slider-title">
						Mémoire Cellulaire<br/>
						Libération transgénérationnelle
					</h2>
					<a href="#" class="button slide-button">Découvrir</a>
				</div>
			</div>
			<div class="slide swiper-slide">
				<img src="{{ asset('images/chromotherapie.jpg') }}" alt="Suite de cristal de différentes couleurs représentant la chromothérapie" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Amplifie l'énergie pour le corps et l'esprit</span>
					<h2 class="slider-title">
						Chromothérapie Cristalline<br/>
						Ciel de Cristal
					</h2>
					<a href="#" class="button slide-button">Découvrir</a>
				</div>
			</div>
			<div class="slide swiper-slide">
				<img src="{{ asset('images/salon.png') }}" alt="Salon de soin" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Séance d'accompagnement holistique en Terre d'énergie ou au cabinet</span>
					<h2 class="slider-title">
						Prendre Rendez-vous
					</h2>
					<a href="#" class="button slide-button">Réserver</a>
				</div>
			</div>
			<div class="slide swiper-slide">
				<img src="{{ asset('images/menhir3.jpg') }}" alt="Cécilia, entourée d'arbres dans une forêt avec un menhir derrière elle" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Près de 800 séances transmises, des libérations, <br />des prises de consciences, des changements de vie...</span>
					<h2 class="slider-title">
						Qui suis-je ?
					</h2>
					<a href="#" class="button slide-button">Me découvrir</a>
				</div>
			</div>
			<div class="slide swiper-slide">
				<img src="{{ asset('images/zen.jpg') }}" alt="Salon de soin" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Pour développer votre conscience intérieur, <br />pour éveiller votre conscience primordiale.</span>
					<h2 class="slider-title">
						Informathèque
					</h2>
					<a href="#" class="button slide-button">Découvrir</a>
				</div>
			</div>
		</div>
		<div class="swiper-button-next nav-btn"></div>
		<div class="swiper-button-prev nav-btn"></div>
		<div class="swiper-pagination"></div>
	</section>
	<!-- Découvrir les séances -->
	<section>
		<h2 class="title text-center fs-1">Jelly dessert powder sweet lollipop biscuit. Tiramisu jelly-o carrot cake sesame snaps cake shortbread chupa chups tootsie roll. I love jelly-o soufflé jelly tootsie roll cheesecake I love cookie.</h2>
		<button class="button d-flex justify-content-center mb-5">Découvrir les séances</button>
	</section>
{% endblock %}