{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Home' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.2.5/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
	<script src="https://cdn.jsdelivr.net/npm/swiper@11.2.5/swiper-bundle.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Initialisation de Swiper
			const mySwiper = new Swiper(".mySwiper", { 
				slidesPerView: 1, 
				loop: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev"
				},
				autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            	}
			});
		});
	</script>
{% endblock %}

{% block main %}
	<section class="slider-container swiper mySwiper">
		<div class="wrapper swiper-wrapper">
			<div class="slide swiper-slide">
				<img src="{{ asset('images/baby-feet.jpg') }}" alt="photo de pieds de bébé entourés de mains d'adulte" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Renaître à soi-même, révélez votre potentiel</span>
					<h2>
						Mémoire Cellulaire<br/>
						Libération transgénérationnelle
					</h2>
					<a href="#" class="slide-button">Découvrir</a>
				</div>
			</div>
			<div class="slide swiper-slide">
				<img src="{{ asset('images/baby-feet.jpg') }}" alt="photo de pieds de bébé entourés de mains d'adulte" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Renaître à soi-même, révélez votre potentiel</span>
					<h2>
						Mémoire Cellulaire<br/>
						Libération transgénérationnelle
					</h2>
					<a href="#" class="slide-button">Découvrir</a>
				</div>
			</div>
			<div class="slide swiper-slide">
				<img src="{{ asset('images/baby-feet.jpg') }}" alt="photo de pieds de bébé entourés de mains d'adulte" class="slider-img" />
				<div class="image-data">
					<span class="slider-text">Renaître à soi-même, révélez votre potentiel</span>
					<h2>
						Mémoire Cellulaire<br/>
						Libération transgénérationnelle
					</h2>
					<a href="#" class="slide-button">Découvrir</a>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
	</section>
{% endblock %}
