<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}....{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            <header class="row">
                <div class="col-md-3">
                    <div class="call-offered-container rounded-pill text-center">
                        <p>Appel<br />Offert</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <!--Logo -->
                    <img src="" alt="Logo" />
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <button class="btn btn-primary" type="button">
                        RDV<br/>Agenda
                    </button>
                </div>
            </header>
        {% endblock %}

        {% block body %}
            {% block main %}{% endblock %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <!--Logo -->
                            <img src="" alt="Logo" />
                        </div>
                        <div id="footer-contact" class="col-md-4 d-flex flex-column align-items-center">
                            <div>
                                <h4 class="subtitle">Echanger ensemble</h4>
                                <p><a href="tel:0652217095" class="link fs-5"><b>06 52 21 70 95</b></a>
                                <br><a href="mailto:cecilia.gampp@gmail.com" class="link">cecilia.gampp@gmail.com</a></p>
                                <div class="social-network">
                                    <svg width="75" height="75" viewBox="0 0 100 100">
                                        <!-- Facebook -->
                                        <a href="https://www.facebook.com/ceciliagampp" target="_blank">
                                            <polygon points="50,10 65,35 90,40 70,60 75,90 50,75 25,90 30,60 10,40 35,35" fill="white" stroke="black" stroke-width="2"/>
                                            <image href="{{ asset("svg/facebook.svg")}}" x="35" y="35" width="30" height="35"/>
                                        </a>
                                    </svg>
                                    <svg width="75" height="75" viewBox="0 0 100 100">
                                        <!-- Instagram -->
                                        <a href="https://www.instagram.com/ceciliagampp/" target="_blank">
                                            <polygon points="50,10 65,35 90,40 70,60 75,90 50,75 25,90 30,60 10,40 35,35" fill="white" stroke="black" stroke-width="2"/>
                                            <image href="{{ asset("svg/instagram.svg")}}" x="35" y="35" width="30" height="35"/>
                                        </a>
                                    </svg>
                                    <svg width="75" height="75" viewBox="0 0 100 100">
                                        <!-- Twitter -->
                                        <a href="https://x.com/intent/post?url=https%3A%2F%2Fwww.biomantique.com%2Fa-propos-4455292.html&text=Qui%20suis-je%20%3F" target="_blank">
                                            <polygon points="50,10 65,35 90,40 70,60 75,90 50,75 25,90 30,60 10,40 35,35" fill="white" stroke="black" stroke-width="2"/>
                                            <image href="{{ asset("svg/twitter-x.svg")}}" x="35" y="35" width="30" height="35"/>
                                        </a>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column align-items-center">
                            <div>
                                <h4 class="subtitle">Espaces du site</h4>
                                <ul class="footer-ul">
                                    <li><a class="link" href="{{ path('contact') }}">Contact</a></li>
                                    <li><a class="link" href="{{ path('prendre_rdv') }}">Prendre RDV</a></li>
                                    <li><a class="link" href="{{ path('qui_suis_je') }}">Qui suis-je?</a></li>
                                    <li><a class="link" href="{{ path('informatheque') }}">Informathèque</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>